[MASTER]
init-hook="import os, sys; sys.path.append('./.venv/Lib/site-packages')"
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116   # missing-function-docstring

[FORMAT]
max-line-length=180
